version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ativos
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: devpass
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend

  back-ativos:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/ativos
      SPRING_DATASOURCE_USERNAME: dev
      SPRING_DATASOURCE_PASSWORD: devpass
    depends_on:
      - db
    networks:
      - backend

volumes:
  db_data:

networks:
  backend:
    driver: bridge
